.ChatMain
  .ChatMain__GroupInfo
    .ChatMain__GroupInfo__leftbox
      .ChatMain__GroupInfo__leftbox--groupname
        %p test
      .ChatMain__GroupInfo__leftbox--groupmenber
        %p Member:sawa
    .ChatMain__GroupInfo__rightbox
      .ChatMain__GroupInfo__rightbox--editbtn
        = link_to 'Edit', '#'
  .ChatMain__MessagesList
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！2
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！3
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！4
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！5
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！6
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！7
  .ChatMain__MessageForm
    .ChatMain__MessageForm__FormBox
      .ChatMain__MessageForm__FormBox__textbox
        %input.ChatMain__MessageForm__FormBox__textbox--text{name: "", placeholder: "type a message", type: "text", value: ""}
        %label.ChatMain__MessageForm__FormBox__textbox--img
          = icon('fas', 'image')
          %input{type: "file"}
      .ChatMain__MessageForm__FormBox--SendBtn
        = link_to 'Send', '#'