.message
  .ChatMain__MessagesList__box
    .ChatMain__MessagesList__box__group
      .ChatMain__MessagesList__box__group--name
        = message.user.name
      .ChatMain__MessagesList__box__group--date
        = message.created_at.strftime("%Y年%m月%d日　%H時%M分")
    .ChatMain__MessagesList__box__message
      - if message.content.present?
        %p.ChatMain__MessagesList__box__message__content
          = message.content
      = image_tag message.image.url, class: 'ChatMain__MessagesList__box__image' if message.image.present?